.MessageList{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    /*border: 1px solid #000000;*/
    height: 400px;
    padding-left: 4px;
    padding-right: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.NewMessage{
   
    padding: 6px;;
    
}